<div class="container">
  <h1>Lord of the rings</h1>
  <div class="drop-down-container" *ngIf="characters">
    <div>
      <label for="name">Name </label>
      <select class="form-select" [(ngModel)]="selectedName" (change)="onNameSelected()">
        <option value="" selected>Please select a name</option>
        <option *ngFor="let item of characters">{{ item.name }}</option>
      </select>

      <label for="hair">Hair Color</label>
      <select class="form-select" [(ngModel)]="selectedHair" (change)="onNameSelected()">
        <option value="" selected>Please select a hair color</option>
        <option *ngFor="let item of characters | filter:'hair'">{{ item }}</option>
      </select>
    </div>

    <div>
      <label for="gender">Gender</label>
      <select class="form-select" [(ngModel)]="selectedGender" (change)="onNameSelected()">
        <option value="" selected>Please select a gender</option>
        <option *ngFor="let item of characters | filter:'gender'">{{ item }}</option>
      </select>

      <label for="race">Race</label>
      <select class="form-select" [(ngModel)]="selectedRace" (change)="onNameSelected()">
        <option value="" selected>Please select a race</option>
        <option *ngFor="let item of characters | filter:'race'">{{ item }}</option>
      </select>
    </div>
  </div>
</div>


<div class="container">
  <h3 class="header">Results:</h3>
  <div class="result-wrapper">
    <div class="result-item" *ngFor="let result of results">
      <div class="content">
        <span *ngIf="result.name">{{ result.name }}</span><br>
        <span *ngIf="result.gender">{{ result.gender }}</span><br>
        <span *ngIf="result.hair">{{ result.hair }}</span><br>
        <span *ngIf="result.race">{{ result.race }}</span><br>
        <span *ngIf="result.birth">{{ result.birth }}</span><br>
        <span *ngIf="result.height">{{ result.height }}</span>
      </div>
    </div>
  </div>
</div>